header {
  width: 100%;
  padding: 20px 0;
}

.title {
  a {
    color: var(--heading-color);
    text-decoration: none !important;
    font-size: 32px;
    font-weight: 700;
    &:visited {
      color: var(--heading-color);
    }
  }
  span {
    vertical-align: middle;
    color: var(--heading-color);
    font-weight: bold;
    margin-left: 6px;
    font-size: 12px;
  }
}
