.nav-list {
  display: flex;
  align-items: center;
  margin: 16px 0;
  li {
    margin-right: 8px;
    a {
      font-size: 16px;
      color: var(--link-color);
      &:visited {
        color: var(--link-color);
      }
    }
  }
}
