.login-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .form-wrapper {
    h3 {
      margin-bottom: 20px;
      text-align: center;
    }
  }
}
