.back-to-top {
  margin: 16px 0;

  a {
    cursor: pointer;
    font-size: 16px;
    color: var(--link-color);
    text-decoration: none;

    &:visited {
      color: var(--link-color);
    }
  }
}
